* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./img/Tim-GITS-Indonesia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar CSS  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 50px 13%;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* position: fixed; */
  width: 100%;
  z-index: 999;
}

.nav-logo > img {
  width: 100px;
}

.nav-item a {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
  /* transition: all 0.3s ease; */
}

.contact-btn {
  background: #28a0f6;
  color: #fff;
  font-size: 16x;
  font-weight: 700;
  border-radius: 8px;
  padding: 12px 25px;
  border: none;
}
/* End Navbar CSS  */

/* Header CSS  */
.header {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
    to right,
    rgba(247, 117, 25, 0.3),
    rgba(9, 44, 186, 0.3)
  );
  position: relative;
}

.widget-header {
  font-size: 0.75rem;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 0.4rem 0;
  color: #fff;
  background: #ff8b49;
}

.content-header {
  padding: 10% 13%;
}

.content-header > h1 {
  font-size: 3.3rem;
  color: #fff;
  font-weight: 600;
  width: 50%;
}

.cta-btn {
  background: #ff8b49;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  padding: 13px 25px;
  border: none;
  margin-top: 20px;
}

.content-header > p {
  font-size: 1.2rem;
  color: #fff;
}

/* End Header CSS  */

/* Service Section */

.services {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  padding: 5% 13%;
  height: 100vh;
}

.services-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service-title h1 {
  color: skyblue;
  font-size: 1.2rem;
  font-weight: 600;
}

.service-title p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
}

.services-card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 2rem;
  margin: 2rem 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 6rem;
  margin-bottom: 1rem;
}

.card h1 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card .action-card {
  font-size: 1rem;
  color: blue;
  font-weight: 400;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-act-services {
  background: #ffe4d5;
  color: #ff8b49;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  padding: 10px 25px;
  border: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
/* End Service Section */

/* Portfolio Section  */
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  padding: 5% 13%;
  height: auto;
}

.portfolio-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio-title h1 {
  color: #ff8b49;
  font-size: 1.2rem;
  font-weight: 600;
}

.portfolio-title p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
}

.btn-act-portfolio {
  background: rgb(190, 237, 255);
  color: rgb(22, 180, 243);
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  padding: 10px 25px;
  border: none;
  margin: 0 0.2rem;
  cursor: pointer;
}

.card-portfolio {
  width: 48%;
  height: auto;
  background-color: white;
  padding: 0;
  margin: 1rem 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.portfolio-card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-portfolio img {
  width: 100%;
  height: 12rem;
  margin-bottom: 1rem;
}

.card-portfolio h1 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-portfolio p {
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  margin-bottom: 1rem;
}

.content-card-portfolio {
  padding: 1.5rem;
}
/* End Portfolio Section  */

/* Promotion Section */
.promotion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #28a0f6;
  padding: 5% 13%;
  height: auto;
}

.content .title {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.list-promotion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .item-promotion {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  width: 50%;
  margin-bottom: 1rem;
}

.video-promotion iframe {
  width: 30vw;
}
/* End Promotion Section */

/* Testimonial Section */

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  padding: 5% 13%;
  height: 100vh;
}

.testimonial-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonial-title h1 {
  color: skyblue;
  font-size: 1.2rem;
  font-weight: 600;
}

.testimonial-title p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
}

.testimonial-card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-testimonial {
  text-align: center;
  width: 30%;
  height: auto;
  background-color: white;
  padding: 2rem;
  margin: 2rem 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-testimonial img {
  height: 3rem;
  margin-bottom: 1rem;
}

.card-testimonial .testimonial-user {
  height: 6rem;
  margin-bottom: 1rem;
}

.card-testimonial h1 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-testimonial h2 {
  font-size: 1.3rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.card-testimonial p {
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card-testimonial .action-card {
  font-size: 1rem;
  color: blue;
  font-weight: 400;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-act-testimonial {
  background: #ffe4d5;
  color: #ff8b49;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  padding: 10px 25px;
  border: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
/* End Testimonial Section */

/* Start Press Release */
.press-release {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 5% 13%;
  height: auto;
  text-align: center;
}

.press-release h1 {
  color: #ff8b49;
  font-size: 1.2rem;
  font-weight: 600;
}

.press-release h2 {
  font-size: 2rem;
  color: #000;
  font-weight: 600;
}

.press-release .partner {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.press-release .partner img {
  margin: 3rem 2.2rem;
}
/* End Press Release */

/* Contact Section  */
.backdrop-background {
  width: 100%;
  background-image: url("img/bg.jpg");
  height: 30vh;
  position: relative;
}

.backdrop-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 128, 242, 0.4);
}

.contact-section {
  height: 100vh;
  background-color: #fff;
}

.contact-card {
  position: relative;
  top: 15rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.content-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-contact h1 {
  font-size: 1.2rem;
  color: skyblue;
  font-weight: 600;
  margin-bottom: 0.08rem;
}

.header-contact h2 {
  font-size: 2rem;
  color: black;
  font-weight: 600;
  margin-bottom: 1rem;
}

.section-content iframe {
  width: 100%;
  height: 20rem;
}

.section-content .description-contact {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.contact-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-list .contact-item .icon-contact {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact-list .contact-item h3 {
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-content form {
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.form-content textarea {
  width: 92%;
  height: 10rem;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 0.1rem;
}

.form-group input {
  height: 2.5rem;
  border: none;
  width: 90%;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-content button {
  margin-top: 2rem;
  width: 20%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #ff8b49;
  color: white;
  cursor: pointer;
}

/* End Our Product Section  */

/* Service Section */

.our-product {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  padding: 5% 13%;
  height: 50vh;
}

.our-product-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service-title h1 {
  color: skyblue;
  font-size: 1.2rem;
  font-weight: 600;
}

.our-product-card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-our-product {
  width: 20%;
  height: auto;
  background-color: white;
  padding: 2rem;
  margin: 2rem 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-our-product img {
  width: 100%;
  margin-bottom: 1rem;
}

.card-our-product .action-card {
  font-size: 1rem;
  color: blue;
  font-weight: 400;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-act-our-product {
  background: #ffe4d5;
  color: #ff8b49;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  padding: 10px 25px;
  border: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
/* End Our Product Section */

/* Sertification */
.sertification {
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: #e0e0e0;
  padding: 3% 13%;
}

.sertification p {
  width: 50%;
}

.sertification .icon-sertification {
  width: 50%;
}

.sertification .icon-sertification img {
  width: 100%;
}
/* End Sertification */
